{% for media in album.medias %}
<div class="pure-g photo-row">
  <div class="photo-left pure-u-1 pure-u-md-1-3">
    <div class="img">
      <a href="{{ media.url }}" data-sub-html="#caption-{{ media.src_filename.split(".")[0] }}" title="{{ media.title }}">
        <img src="{{ media.thumbnail }}" title="{{ media.title }}" />
      </a>
    </div>
  </div>
  <div class="photo-description pure-u-1 pure-u-md-2-3">
    <div class="caption-flex" id="caption-{{ media.src_filename.split(".")[0] }}">
      <div class="caption-no-flex">
        {% if media.description %}
          {{ media.description }}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
